@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
  }
}
